<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Index</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/dist/output.css')}}" />
</head>

<body>
<form method="post">
  <center>
    <br>
  <label for="email">Email: </label><input type="email" name="email" class="border border-blue-500 p-1. rounded-lg">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1. px-1 rounded">
  Submit
</button>
  </center>
</form>
</body>
</html>